
.login-page {
    width: 500px;
    margin-left:100px;
    margin-right: 20px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    margin-right: 50px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    margin-right: 500px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sign-in-button {
    padding: 10px;
    background-color: #8d04be;
    width: 600px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 50px;
}

.sign-in-button:hover {
    background-color: #8d04be;
}

.success-message {
    color: green;
    margin-top: 10px;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.sign-up-link {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}


.eye-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #888; /* Customize the color as needed */
}

.subheading{
    font-size: small;
    font-weight: 250;
    margin-bottom: 10px;
}

.forgot-password-link {
    color: #007BFF;
    cursor: pointer;
    font-size: 14px;
    text-align: right;
    display: block;
    margin-top: 5px;
}

.forgot-password-link:hover {
    color: #0056b3;
}


.split-screen {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.left-panel,
.right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.left-panel {
    background-color: #f9f9f9;
}

.right-panel {
    position:relative;
}

.right-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}